/**
 * DEBUG STYLES
 */

 .debug{

   .body { outline: 1px solid purple; }

   .body:before,
   .body:after { outline: 1px solid green; }


   .region-break {
     border-top: 1px dashed blue;
     box-sizing: border-box;
   }

   img { outline: 1px solid blue; }

 }
