<!DOCTYPE html>
<html class="normal" lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Libriis</title>

    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>
    <!-- PAGES -->
    <div id="pages">

      <div id="master-page" class="paper">
        <div class="page">
          <div class="body">
            <div class="bloc x0 y0 w9 h12 flow-main" style="margin-bottom:0pt;"></div>
            <!-- <div class="bloc x0 w1 flow-fn" style="bottom: 115pt;"></div> -->
          </div>
        </div>
      </div>

    </div>


    <div id="stories">
      <div id="flow-main">

      </div>
      <!-- // my-story -->
    </div>
    <!-- // stories -->

    <script src="/assets/lib/jquery.min.js" charset="utf-8"></script>
    <script src="/assets/js/setup.js" charset="utf-8"></script>
    <script src="/assets/js/html2print.js" charset="utf-8"></script>
    <script src="/assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
